@import url('http://fonts.cdnfonts.com/css/product-sans');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900');
body {
    font-family: 'Product Sans', sans-serif! important;
    background: rgb(31, 31, 31);
    color: rgb(255, 255, 255);
    margin: 70px 0px 0px 0px;
    padding: 0px;
}

.header {
    background: rgb(0, 76, 63);
    color: white;
    padding: 15px 10px 15px 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}


h3 {
    margin-left: 10px;
}

a {
    color: #6970D;
    text-decoration: none! important;
}

.header a {
    color: #fff! important;
    text-decoration: none! important;
}

a:visited {
    text-decoration: none! important;
    color: #6970D5;
}

.par {
    background-color: rgb(39, 39, 39);
    margin: 0px 1px 10px 1px;
    border: 0px solid transparent;
    border-radius: 10px;
    padding: 15px;
    text-align: justify;
    clear: both;
}

.cats {
    background-color: rgb(39, 39, 39);
    margin: 0px 1px 10px 1px;
    border: 0px solid transparent;
    border-radius: 10px;
    padding: 15px;
    text-align: justify;
    clear: both;
}

.cats a {
    color: #6970D;
    text-decoration: none! important;
}

.cats:hover {
    background-color: rgb(255, 255, 255);
    color: #111;
}

.budget_input_field {

    border: 1px solid rgb(49, 49, 49);
    padding: 10px;
    color: rgb(255, 255, 255);
    border-radius: 7px;
    background-color: rgb(39, 39, 39);
    margin: 0px;
    width: 88%;

}

.budget_submit {

    border: 1px solid rgb(0, 76, 63);
    padding: 10px;
    border-radius: 7px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 76, 63);
    margin: 0px;
}

.budget_submit:hover{
    cursor: pointer;
}

/* Section */
.section {
    clear: both;
    margin: 0px 10px 0px 10px;
    padding: 0px;
  }
  /* Column */
  .col {
    /* background: #eee; */
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
  }
  .col:first-child { margin-left: 0 !important; }
  
  /* Row */
  .row:before,
  .row:after { content:""; display:table; }
  .row:after { clear:both;}
  .row { zoom:1; /* For IE 6/7 */ }
  
  /* Grid */
  .grid_1_of_3{ width: 23% }
  .grid_2_of_3{ width: 52% }
  .grid_3_of_3{ width: 20% }
  
  /* Full Width below 768 pixels */
  @media only screen and (max-width: 768px) {
    .col {  margin: 1% 0 1% 0%; }
    [class*='grid_'] { width: 100%; }
  }
  


.footer{
    clear: both;
    background-color: rgb(34, 34, 34);
    color: rgb(235, 235, 235);
    padding: 15px;
    border-top: 3px solid black;
    text-align: center;
}


.item-list{
    background-color:rgb(39, 39, 39);
    /* color: #252525; */
    padding:10px;
    border-radius: 10px;
    margin: 8px 0px;
}