{% extends 'base.html' %}

{% block body %}

<h3>AVAILABLE GPUS</h3>
{% for item in items %}

<div class="item-list">
    <table width="100%">
        <td width="1%">
            <img src="{{ item.rThumb.url }}" height="50px" width="50px"/>
        </td>
        <td width="25%">
            {{ item.rBrand }} {{ item.rName }} {{ item.rCap }}GB <br>
            {% comment %} Cores: {{ item.gCore }}, Threads: {{item.gThread}} <br> {% endcomment %}
            Price: {{item.rPrice}} BDT
            
        </td>
    </table>
    
    </div>


{% endfor %}

{% endblock body %}