{% extends 'base.html' %}

{% block body %}

<h3>AVAILABLE GPUS</h3>
{% for item in items %}

<div class="item-list">
    <table width="100%">
        <td width="1%">
            <img src="{{ item.sThumb.url }}" height="50px" width="50px"/>
        </td>
        <td width="25%">
            {{ item.sBrand }} {{ item.sName }} {{ item.sCap }}GB<br>
            Interface Type: {{item.sInterface}} <br>
            Price: {{item.sPrice}} BDT
            
        </td>
    </table>
    
    </div>


{% endfor %}

{% endblock body %}